.container {
    background-color: rgb(29, 29, 29);
    .card-container {
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        margin: 0 auto;
        .card {
            padding: 20px;
            text-align: center;
            width: calc(100% / 6);
        }
        a {
            text-decoration: none;
        }
        p {
            color: #fff;
            text-transform: uppercase;
            font-weight: bold;
            margin-top: 1rem;
        }
    }
}
